absl-py==0.5.0
actionlib==1.11.13
angles==1.9.11
astor==0.7.1
backcall==0.1.0
base-local-planner==1.14.4
bondpy==1.8.1
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
capabilities==0.2.0
catkin==0.7.14
cffi==1.11.5
cloudpickle==0.6.1
create-dashboard==2.3.1
create-driver==2.3.1
create-node==2.3.1
cv-bridge==1.12.8
cycler==0.10.0
dask==0.19.4
decorator==4.3.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dominate==2.3.4
dynamic-reconfigure==1.5.49
gast==0.2.0
gazebo-plugins==2.5.17
gazebo-ros==2.5.17
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
grpcio==1.15.0
h5py==2.8.0
image-geometry==1.12.8
imageio==2.4.1
interactive-markers==1.11.4
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
kobuki-dashboard==0.5.7
laser-geometry==1.6.4
Markdown==3.0.1
matplotlib==3.0.0
message-filters==1.12.14
networkx==2.2
numpy==1.15.2
opencv-python==3.4.3.18
openni2-launch==0.4.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pluginlib==1.11.3
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.0
pyparsing==2.2.2
python-dateutil==2.7.3
python-mnist==0.6
python-qt-binding==0.3.4
PyWavelets==1.0.1
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
resource-retriever==1.12.4
rocon-app-manager==0.9.1
rocon-app-utilities==0.9.1
rocon-apps==0.9.1
rocon-console==0.3.2
rocon-ebnf==0.3.2
rocon-gateway==0.8.1
rocon-gateway-utils==0.8.1
rocon-hub==0.8.1
rocon-hub-client==0.8.1
rocon-interactions==0.3.2
rocon-master-info==0.3.2
rocon-python-comms==0.3.2
rocon-python-redis==0.3.2
rocon-python-utils==0.3.2
rocon-python-wifi==0.3.2
rocon-semantic-version==0.3.2
rocon-uri==0.3.2
rosbag==1.12.14
rosboost-cfg==1.14.4
rosclean==1.14.4
roscreate==1.14.4
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.4
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.4
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospy==1.12.14
rospy-message-converter==0.4.0
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.4
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.12.16
scikit-image==0.14.1
scipy==1.1.0
sensor-msgs==1.12.6
six==1.11.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.1
tensorboard==1.11.0
tensorboardX==1.4
tensorflow-gpu==1.11.0
termcolor==1.1.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.18
tf2-kdl==0.5.18
tf2-py==0.5.18
tf2-ros==0.5.18
toolz==0.9.0
topic-tools==1.12.14
torch==0.4.1
torchvision==0.2.1
tqdm==4.28.0
traitlets==4.3.2
unique-id==1.0.5
wcwidth==0.1.7
Werkzeug==0.14.1
world-canvas-server==0.2.0
world-canvas-utils==0.2.0
xacro==1.11.3
